<main class="container mx-auto">
  <div class="row">

      <div class="col-12 mt-5">
        <h2 style="text-align: center;">
          送信完了
        </h2>
      </div>

      <div class="col-12 mt-5 mb-5">
        <h4 style="text-align: center;">
          お問い合わせ頂きましてありがとうございます。<br/>
          お問い合わせ頂いた内容の確認に日数を頂く場合がございます。<br/>
          大変ご不便をおかけして申し訳ございませんが、<br/>
          何卒宜しくお願い申し上げます。
        </h4>
      </div>


  </div>
</main>