{"filter":false,"title":".gitignore","tooltip":"/BBitems/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":126,"scrollleft":0,"selection":{"start":{"row":21,"column":0},"end":{"row":21,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":8,"state":"start","mode":"ace/mode/ini"}},"timestamp":1639468690775,"hash":"2d08ca330019da1f2bd8b6b1ea4c0e803b2aa6d8"}