// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 投稿商品の説明
.item-introduction{
  border: groove 6px red;
  margin: 10px 0 20px 0;
  padding-top: 10px;
  background: #f4f4f4;
}

.item_title{
  background: #f4f4f4;
  border-left: solid 15px red;
  border-right: solid 15px red;
}

.user_img{
  border: solid 1px;
  border-radius: 50%;
}

.item_img{
  border: solid 2px;
  border-radius: 5px;
}

.card_img{
  border-bottom: solid 2px black;
}