// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-body {
 	overflow: hidden;
	border: 1px solid #ccc;
	padding: 10px;
	width: 100%;


	white-space: nowrap;
}