<div class="container">
  <div class="row">

    <!--サイドバー-->
    <div class="col-3">
      検索機能
    </div>

    <!--メイン部分-->
    <div class="col-9">
      <h3>投稿する</h3>
      <%= link_to "投稿する", new_item_path %>
    </div>

  </div>
</div>