<div class="about-box">
  <!--スキッパー-->
  <div id="box">
    <div id="images">
      <div class="about1"></div>
      <div class="about2"></div>
      <div class="about3"></div>
      <div class="about4"></div>
    </div>
  </div>
  <!--メイン部分-->
  <div class="about-introduction">
    <h1>Welcom to BBitems!!</h1>
    <p>
      BBitemsは野球製品のレビュー投稿サイトです。</br>
      野球というスポーツは使用する道具が多く、販売されている製品も多種多様です。</br>
      その為、新しく商品を購入する時にどれを買おうか悩まれる方も</br>
      いらっしゃるのではないでしょうか？</br>
      そんな時はぜひBBitemsの製品レビューをご利用下さい！</br>
      また、皆さんからのたくさんの投稿をお待ちしております！
    </p>
  </div>

</div>