<div class="container">
  <div class="row ge-edit">
    <div class="h5 my-3 text-center theme col-2 offset-md-1">ジャンル編集</div>
  </div>

  <div class="row">
      <%= form_with model: @genre,url: genre_path, local:true do |f| %>
        <div class="field form-group">
          <div style="margin-right:50px">ジャンル名</div>
          <div style="margin-right:50px"><%= f.text_field :name, class:'form-control' %></div>
        </div>
        <%= f.submit "変更する", class: "btn btn-success" %>
      <% end %>
  </div>
</div>