<div class="container">
  <div class="row">

  <!-- サイドバー -->
  <div class="col-3 side_bar">
    検索機能
  </div>

  <div class="col-md-9">
    <h2>会員一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>プロフィール画像</th>
            <th>ニックネーム</th>
            <th>フォロー数</th>
            <th>フォロワー数</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= attachment_image_tag user, :image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td>フォロー数:</td>
            <td>フォロワー数:</td>
            <td><%= link_to "会員詳細", user_path(user.id)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>