<div class="container">
  <div class="row">

    <!-- サイドバー -->
    <div class="col-4 side_bar">
      検索機能
    </div>

    <!-- メイン -->
    <div class="col-8">
      <div class="row">

        <!-- 会員画像 -->
        <div class="col-xs-12 col-md-4 user_image">
          <div class="card">
            <%= attachment_image_tag @user, :image_id, format: 'jpeg', fallback: "no_image.jpg", height:200 %>
          </div>
          <div>編集画面へのリンク</div>
        </div>

        <!-- 会員詳細 -->
        <div class="col-xs-12 col-md-8 user_detail">
          <h3><%= @user.name %></h3>
          <h4><% if @user.id == current_user.id %>
                <%= @user.email %>
              <% end %>
          </h4>
          <h4>フォロー数（りんく）</h4>
          <h4>フォロワー数（りんく）</h4>
          <h4>フォローする、しない（他人の場合）</h4>
        </div>

        <!-- 自己紹介文 -->
        <div class="col-12 user_introduction">
          こんにちわ
        </div>
      </div>
    </div>
    <!--メイン終了-->

  </div>
</div>